header{
    text-align: center;
    padding: 2%;
}

#rendering-window{ 
    position: absolute;
    height: 100%;
    width: 90%;
}

#textInput{
    height: 100%;
    width: 90%;
    margin-left: 2.5%;
}

#body-screenplay{
    margin: 96px 96px 96px 144px; 
}

.base {
    font-size: 16px;
    font-family: 'Courier', monospace;
}

.slugline, .subheader, .action, .shot {
    margin-left: 0px;
    margin-right: 0px;
    width: 576px;
}

.character {
    margin-left: 192px;
    margin-right: 0px;
    width: 384px;
    text-transform: uppercase;
}

.dialogue {
    margin-left: 96px;
    margin-right: 144px;
    width: 336px;
}

.parenthetical {
    margin-left: 144px;
    margin-right: 192px;
    width: 240px;
}

.transition {
    margin-left: 384px;
    margin-right: 0px;
    width: 192px;
    text-transform: uppercase;

}

